.statistics-container-grid {
    margin-top: 50px;
    justify-content: space-evenly;
    margin-bottom: 100px;

    p {
        text-align: center;
    }

    h2 {
        text-align: center;
    }
}